#cv{
    margin: auto;
    text-align: center;
    font: size 20px;
    width: 800px;
    margin: auto;
}
body {
    background-color: #00002d;
}
header {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 10px 20px;
}
#img_profil{
    border-radius: 50%;
    border: white solid;
    width: 100px;
    height: 100px;
}  
h1{
    color: #0f80e8;
    font-family: Gerorgia;
}
h2 {
    color: white;
    font-family: Gerorgia;
}
h3{
    color:black;
    font-family: Gerorgia;
    text-align: left;
}
.act, ol, ul{
    border-top : 1px #00002d solid;
    -webkit-text-fill-color: white;
    font-size: smaller;
    text-align: left;
}

section {
    margin: auto;
    width: 80%;
    text-align: center;
}
article{
    display:inline-block;
    vertical-align:top;
    background-color: #0f80e8;
    width : 300px;
    height : 300px;
    margin : auto;
    padding : 15px;
    margin-top: auto;
    border-radius: 5%;
    margin-bottom: 15px;
}
 