
body {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    text-align: center;
    background: #00002d;
}

#nav_ul {
    width: 100%;
    background-color: #0f80e8;
}

#nav_ul ul {
    padding: 15px 4px 17px 0;
    list-style: none;
}

#nav_ul ul li {
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: crosshair;
    margin-right: -4px;
    text-align: left;
    background-color: #0f80e8;
}

#nav_ul ul li ul {
    display: none;
    position: absolute;
    top: 46px;
    width: 200px;
    padding: 0;
    left: 0;
    border: none;
}

#nav_ul ul li ul li {
    display: block;           
    background: #0f80e8;
    color: #fff;
    padding: 10px 15px;
}

#nav_ul ul li:hover {
    background: #ffa447;
    color: #fff;
}

#nav_ul ul li ul li:hover {
    background: #ffa447;
}

#nav_ul ul li:hover ul {
    display: block;
}

.li_film a {
        display: block;       
        width: 100%;          
        height: 100%;        
        text-decoration: none;
        color: inherit;       
        padding: 15px 20px;   
        padding: 0;
        }
