/* ICT-293 - Exercice Navigation - Départ */
body {
    font-family: Arial;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    font-size: 13px;
    text-align: center;
    background: #00002d;
}

/* Navigation bar background */
#nav_ul {
    width: 100%;
    background-color: #0f80e8;
}

#nav_ul ul {
    padding: 15px 4px 17px 0;
    list-style: none;
}

/* Main menu items */
#nav_ul ul li {
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: crosshair;
    margin-right: -4px;
    text-align: left;
    background-color: #0f80e8;
}

/* Submenu container */
#nav_ul ul li ul {
    display: none;
    position: absolute;
    top: 46px;
    width: 200px;
    padding: 0;
    left: 0;
    border: none;
}

/* Submenu list items (Frontend, Scripting, Database, System) */
#nav_ul ul li ul li {
    display: block;           /* <-- makes them vertical */
    background: #0f80e8;
    color: #fff;
    padding: 10px 15px;
}

/* Hover effects */
#nav_ul ul li:hover {
    background: #ffa447;
    color: #fff;
}

#nav_ul ul li ul li:hover {
    background: #ffa447;
}

#nav_ul ul li:hover ul {
    display: block;
}

.li_film a {
        display: block;       /* occupe toute la zone du li */
        width: 100%;          /* prend toute la largeur */
        height: 100%;         /* prend toute la hauteur */
        text-decoration: none;
        color: inherit;       /* garde la couleur du menu */
        padding: 15px 20px;   /* déplace le padding du li vers a */
        padding: 0;
        }
